*{
    margin: 0;
    padding: 0;

    box-sizing: border-box; 

}
body   
{  
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 100% ;
background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(/images/clementine.jpg);
filter: blur(20%);
}  

header {  
background-color: rgb(2, 97, 57);  
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 60px;  
display: flex;  
align-items: center;  
box-shadow: 0 0 25px 0 black;  
}  

header * {  
display: inline;  
}  

header li {  
margin: 20px;  
}  

header li a {  
color: blue;  
text-decoration: none;  
}

h1{
    position: relative;
    top: 100px;
    left: 40%;
    color: aliceblue;
    font-size: 3rem;
    font-style: italic;
}


 h2 {
    position: relative;
    top: 10px;
    left: 35%;
    top: 250px;
    color: white;
    

} 
.tab-titles{
    display: flex;
    margin: 20px 0 40px ;
}

.tab-links{
    margin-right:50px ;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer; 
    position : relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px ;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s ;
}

.tab-links.active-link::after{
    width: 50% ;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;  
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
display: none;

}
.tab-contents.active-tab{
    display: block;
    position: relative;
    top: 0;
    left: 5%;
}
a {
    color: white;
}
nav ul li a{
    position: relative;
    left: 220%;
    font-size: 1.5rem;
    color: white;

}

.logo {
    font-size: 2.5rem;
    color: orange;
    position: relative;
    left: 10%;
}

.clemy{
    position: relative;
    top: 105px;
}

p{
    position: relative;
    left: 5%;
   
    color: rgb(185, 178, 178);
    font-size: 1.6rem;
}

 img {
    height: 300px;
    border-radius: 100px;
    position: relative;
    left: 43%;
    top: 130px;
} 

.links{
    position: relative;
    left: 3%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: transparent;
    color: black;
  }
  .fa-linkedin {
    background: transparent;
    color: black;
  }

  .fa-instagram {
    background:transparent;
    color: black;
  }

  .fa-snapchat-ghost {
    background: transparent;
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .fa-github {
    background: transparent;
    color:black;
  }
  
